* {
  margin: 0px;
  padding:0px;
}

body{
  background-color:#ffffff;
  font-family: sans-serif;
  padding:0;
  margin:auto;
  height:100%;
  width:100%;
}

.container{
  background-color:gray;
  width:960px;
  margin:10em auto;
  overflow:hidden;
}

.container h2{
  padding: 50px 0 20px 0;
}

#map {
    width:18em;
    height:14em;
    background-color:grey;
}

#page-wrap{


}

header, footer{
  background:#35424a;
  background-image:url("cogs5.jpg");
  background-repeat:repeat;
  color:#ffffff;
  padding-top:30px;
  min-width:320px;
  border-bottom:#e8599a 3px solid;
}

header{
  padding-bottom:70px;
}


header a{
  color:#ffffff;
  text-decoration:none;
  text-transform:uppercase;
}

header ul{
  margin:0;
  padding:0;
}

header li{
  float:left;
  display:inline;
  padding:1em 1em 1em 1em;
}

header #top{
  position:relative;
}

header #branding h1{
  margin:0;
  padding:0 0 0 20px;

}

header nav{
  float:right;
  padding:0 15px 0 0;
}

header a:hover{
  color:#bebfdf;
  font-weight:bold;
}

.motto{
  display:table;
  margin:0 auto;
  padding-top: 20px;
}

#horizotal-list ul{
  min-width: 696px;
  list-style:none;
  padding-top:20px;
}

#horizontal-list li{
  min-width:2em;
  display:inline;
  font-size:16px;
  color:#000000;
  list-style-type:none;
  font-weight:bold;
  padding:4em 3em 3em 3em;
}

#mStatement{
  width: 100#;
  margin-top:14rem;

}
